/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 8 févr. 2023, 19:52:25
    Author     : Nouzhati
*/

#estimation {
    margin: 10px auto 10px auto;
    width: 0%;
    font-size: 20px;
}

#nadja {
    margin: 20px auto 20px auto;
    width: 100%;
    text-align: center;
}